$themebodybg: #4d5052;
$themebodyfg: #bbbbbb;
$themeboxborder: #2f3233;
$themeboxfadeborder: #505455;
$themetopbarbg: #4a4b4b;
$themeeditorbg: #393939;
$tabactivebottom: #4f4f4f;
$sidebarhighlight: #2b5a76;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Source Sans Pro;
	font-size: 13px;
	background: $themebodybg;
	color: $themebodyfg;
	cursor: default;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #181818;
	font-size: 14px;
	line-height: 30px;
	-webkit-user-select: none;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		list-style-type: none;
		display: block;
		padding: 1px 10px 0;
	}

	li:first-of-type {
		padding-left: 15px;

		ul.submenu {
			margin-left: -15px;
			border-left: none;
		}
	}
	ul.submenu {
		position: absolute;
		background: #181818;
		z-index: 99;
		margin-left: -10px;
		margin-top: -1px;
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
		border-left: 1px solid #333;
		display: none;

		li {
			display: block;
			float: none;
			padding: 0 150px 0 20px;
			position: relative;

			aside {
				position: absolute;
				right: 20px;
				top: 0;
				color: #555;
			}
		}
		li:hover aside {
				color: #eee;
				opacity: 0.25;
		}
		li.space {
			line-height: auto;
			height: 1px;
			background: #2c2c2c;
			margin: 2px auto;
			width: 80%;
		}
		li:hover {
			background: $sidebarhighlight;
			color: #eee;
		}
	}
}


#sidebar-entrypoint {
	position: fixed;
	top: 30px;
	left: 0;
	height: calc( 100% - 30px);
	width: 240px;
	-webkit-user-select: none;
	background: #222;
	overflow-y: scroll;

	.module {

	}
}

.sidebar-deactivated {
	display: none;
}

#sidebar-entrypoint:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}


.topbar-fullscreen {
	left: 0!important;
	width: 100%!important;
}

#topbar-entrypoint {
	position: fixed;
	top: 30px;
	left: 240px;
	height: 31px;
	width: calc(100% - 240px);
	background: #222;
	-webkit-user-select: none;
}

#tabs-entrypoint {
	margin: 0;
	padding-left: 0;
	height: 31px;
	
	-webkit-user-select: none;
	font-size: 12px;
	background: #222;

	ul {
		margin: 0;
		padding: 0;
	}
	
	li {
		display: block;
		position: relative;
		float: left;
		padding: 0 15px;
		margin: 0;
		height: 31px;
		width: 100px;
		list-style-type: none;
		margin-top: 0;
		background: #343434;
		line-height: 31px;
		border-right: 1px solid #222;
		white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	}
	li.active {
		background: #404040;
		margin-top: 0;
		color: #fff;
		min-width: 150px;

		.close {
			background: url("../media/icons-inverted.png") center center no-repeat;
		}
	}
	.close {
		position: absolute;
		top: 8px;
		right: 6px;
		display: block;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		background: url("../media/icons.png") center center no-repeat;
	}
}


.editor-fullscreen {
	left: 0!important;
	width: 100%!important;
}

#editor-entrypoint {
	position: fixed;
	top: 61px;
	left: 240px;
	font-size: 24px;
	width: calc(100% - 240px);
	height: calc(100% - 61px);
	background: url("../media/logo-256.png") center center no-repeat #292929;

	textarea {
  		position: absolute;
  		top: 0;
  		left: 0;
  		width: 1px;
  		height: 1px;
  		z-index: -55;
  		opacity: 0;
  	}
}

.CodeMirror {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Ubuntu mono, monospace;
	font-weight: 400;
	
	text-shadow: none;
	line-height: 1!important;
}


//Project module.
#module-project {

	ul {
		margin: 0;
		padding: 5px 0 0 0;
		color: #eee;
	}

	li {
		line-height: 30px;
		list-style-type: none;

		span {
			display: block;
			padding: 0 25px 0 15px;
			overflow: hidden;
  		text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	li.current {
		background: $sidebarhighlight;
	}

	li.current ul, li.current ul * {
		background: #222;
	}

	li[data-type=folder] span:before {
		margin-right: 10px;
		display: inline-block;
		width: 12px;
		background: url("../media/folder.png") left bottom no-repeat;
		height: 13px;
		content: " ";
		opacity: 0.25;
	}

	li[data-type=file] span:before {
		margin-right: 10px;
		display: inline-block;
		width: 12px;
		background: url("../media/file.png") left bottom no-repeat;
		height: 13px;
		content: " ";
		opacity: 0.25;
	}


	li ul {
		margin-left: -15px;
		max-height: 0;
		overflow: hidden;
		-webkit-animation: 0.2s slideDown forwards;
	}

	ul.hide-sub-menu {
		max-height: 100%;
		
		span {
			opacity: 1;
			-webkit-animation: 0.1s fadeOut forwards!important;
		}
	}

	ul.submenu span {
		opacity: 0;
		-webkit-animation: 0.2s fadeIn forwards;
	}

	li ul li span {
		margin: 0;
		padding: 3px 0 0 30px;
	}

	li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 45px;
	}

	li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 60px;
	}

	li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 75px;
	}

	li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 90px;
	}

	li ul li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 105px;
	}

	li ul li ul li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 120px;
	}

}

.autoload {
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -99;

	* {
		visibility: hidden;
		width: 0;
		height: 0;
		position: absolute;
		z-index: -99;
	}
}

.popOut {
	-webkit-animation: popOut 0.15s forwards!important;
}

#popup-about {
	height: 400px;

	.about-dialogue {
		width: 90%;
		height: 240px;
		margin: 20px auto 0;
		overflow-y: scroll;
		text-align: left;
		padding: 0 10px;
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 380px;
	height: 225px;
	margin: auto;
	border: 1px solid #111;
	background: #393939;
	text-align: center;
	-webkit-user-select: none;
	-webkit-animation: popIn 0.25s forwards;
	-webkit-transform: scale(0.1);

	.cancel {
		float: right;
		width: 24px;
		height: 24px;
		margin-top: 5px;
		margin-right: 5px;
		background: url("../media/icons.png") center center no-repeat;
	}

	.logo {
		margin: 20px auto 10px auto;
		width: 64px;
		height: 64px;
		background: url("../media/logo-64.png");
		-webkit-animation: rotate 1.5s infinite;
	}

	h4 {
		text-align: center;
		margin: 10px auto;
		font-weight: normal;
		font-size: 16px;
		width: 80%;
		display: block;
	}
	h4.find-heading {
		margin: 40px auto 20px auto;
	}

	input.find {
		display: block;
		width: 80%;
		background: #292929;
		border-style: none;
		margin: 20px auto 50px auto;
		padding: 0.75em 1em;
		color: #eee;
		font-family: Source Sans Pro;
		font-size: 16px;
	}
	input.find:focus {
		outline: none;
	}

	.dialogue {
		text-align: center;
		width: 350px;
		margin: 0 auto 20px auto;
	}

	button {
		margin: 0 5px;
		font-size: 13px;
		text-align: center;
		padding: 0.75em 2.5em;
		border-style: none;
	}

	button:focus {
		outline: none;
	}

	button:active {
		opacity: 0.8;
	}

	.btn-accept {
		color: #eee;
		background: $sidebarhighlight;
		border-style: none;
	}

	.btn-decline {
		color: #aaa;
		background: #333;
		border-style: none;
	}

}

#files-entrypoint {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;

	input {
		visibility: hidden;
		opacity: 0;
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes popIn {
	0% {
		-webkit-transform: scale(0.1);
	}
	80% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes popOut {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-webkit-keyframes slideDown {
	0% {
		margin-left: -15px;
		max-height: 0;
	}
	100% {
		margin-left: 0;
		max-height: 100%;
	}
}

@-webkit-keyframes slideUp {
	0% {
		margin-left: 0;
		max-height: 100%;
	}
	100% {
		margin-left: -15px;
		max-height: 0;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@import "dialog";
@import "scrollbars";