$themebodybg: #4d5052;
$themebodyfg: #bbbbbb;
$themeboxborder: #2f3233;
$themeboxfadeborder: #505455;
$themetopbarbg: #4a4b4b;
$themeeditorbg: #393939;
$tabactivebottom: #4f4f4f;
$sidebarhighlight: #2b5a76;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Cantarell;
	font-size: 13px;
	background: $themebodybg;
	color: $themebodyfg;
	cursor: default;
}


#sidebar-entrypoint {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	border-right: 1px solid $themeboxborder;
	-webkit-user-select: none;

	.module {
		background: #4d5053;

		header {
			width: 100%;
			height: 32px;
			background: #484c4e;
			border-bottom: 1px solid #2e3133;
			border-top: 1px solid #646769;
			line-height: 33px;
			padding: 0 14px;
		}

	}
}
#sidebar-entrypoint:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-right: 1px solid $themeboxfadeborder;
}

#topbar-entrypoint {
	position: fixed;
	top: 1px;
	left: 241px;
	height: 30px;
	width: calc(100% - 241px);
	border-bottom: 1px solid $themeboxborder;
	border-top: 1px solid $themeboxfadeborder;
	background: $themetopbarbg;
	-webkit-user-select: none;

	#bottom-border {
		position: fixed;
		top: 31px;
		width: calc(100% - 241px);
		height: 3px;
		background: #646565;
		border-top: 1px solid #6f6d6e;
	}
}

#tabs-entrypoint {
	margin: 0 0 0 -1px;
	padding-left: 0;
	height: 24px;
	margin-top: 4px;
	-webkit-user-select: none;
	font-size: 12px;
	background: #4c4d4e;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		float: left;
		padding: 2px 15px;
		margin: 0;
		height: 25px;
		min-width: 150px;
		list-style-type: none;
		margin-top: 0;
		background: $themebodybg;
		border: 1px solid #323337;
		margin-left: -1px;
	}
	li.active {
		background: #646565;
		height: 26px;
		padding: 3px 15px;
		margin-top: 0;
		color: #fff;

	}
}

#editor-entrypoint {
	position: fixed;
	top: 36px;
	left: 241px;
	width: calc(100% - 241px);
	height: calc(100% - 36px);
	background: $themeeditorbg;
}

.CodeMirror {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Ubuntu mono;
	font-weight: 400;
	font-size: 20px!important;
	text-shadow: none;
	line-height: 1!important;
}


//Project module.
#module-project {

	ul {
		margin: 0;
		padding: 5px 0 0 0;
		color: #eee;
	}

	li {
		padding: 3px 0;
		list-style-type: none;

		span {
			padding: 0 0 0 15px;
		}
	}

	li.current {
		background: $sidebarhighlight;
	}

	li ul li span {
		margin: 0;
		padding: 3px 0 0 30px;
	}

}

.popOut {
	-webkit-animation: popOut 0.15s forwards!important;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 380px;
	height: 225px;
	margin: auto;
	border: 1px solid #111;
	background: #393939;
	text-align: center;
	-webkit-user-select: none;
	-webkit-animation: popIn 0.25s forwards;
	-webkit-transform: scale(0.1);

	.logo {
		margin: 20px auto 10px auto;
		width: 64px;
		height: 64px;
		background: url("../media/logo-64.png");
		-webkit-animation: rotate 1.5s infinite;
	}

	h4 {
		text-align: center;
		margin: 10px 0;
		font-weight: normal;
		font-size: 16px;
	}

	.dialogue {
		text-align: center;
		width: 350px;
		margin: 0 auto 20px auto;
	}

	button {
		margin: 0 5px;
		font-size: 13px;
		text-align: center;
		padding: 0.75em 2.5em;
		border-style: none;
	}

	button:focus {
		outline: none;
	}

	button:active {
		opacity: 0.8;
	}

	.btn-accept {
		color: #eee;
		background: $sidebarhighlight;
		border-style: none;
	}

	.btn-decline {
		color: #aaa;
		background: #333;
		border-style: none;
	}

}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes popIn {
	0% {
		-webkit-transform: scale(0.1);
	}
	80% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes popOut {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
	}
}