* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'DejaVuSans', Open Sans, sans-serif;
	font-size: 13px;
	font-weight: 500;
	-webkit-user-select: none;
}

.resize-element {
	position: fixed;
	width: 5px;
	z-index: 9999px;
	background: transparent;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.25;
	cursor: ew-resize;
}

#sidebar-entrypoint {
	position: fixed;
	top: 0;
	left: 0;
	height: calc( 100% );
	width: 190px;
	font-size: 11px;
	-webkit-user-select: none;
	overflow-y: scroll;
	padding: 0;

	.module {

	}
}

.sidebar-deactivated {
	display: none;
}

#sidebar-entrypoint:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}


.topbar-fullscreen {
	left: 0!important;
	width: 100%!important;
}

#topbar-entrypoint {
	position: fixed;
	top: 0;
	left: 190px;
	height: 40px;
	width: calc(100% - 190px);
	-webkit-user-select: none;
}

#tabs-entrypoint {
	margin: 0;
	padding-left: 0;
	height: 40px;
	-webkit-user-select: none;
	font-size: 11px;
	margin-top: 5px;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		position: relative;
		float: left;
		padding: 0 25px 0 15px;
		margin: 0;
		height: 31px;
		width: 100px;
		min-width: 150px;
		list-style-type: none;
		margin-top: 0;
		line-height: 31px;
		white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
	}
	li.active {
		margin-top: 0;
		min-width: 150px;

		.close {
			background: url("../media/icons-inverted.png") center center no-repeat;
		}
	}
	.close {
		position: absolute;
		top: 8px;
		right: 6px;
		display: block;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		background: url("../media/icons.png") center center no-repeat;
	}
}


.editor-fullscreen {
	#editor-entrypoint {
		width: 100%!important;
		left: 0!important;
	}
}

#editor-entrypoint {
	position: fixed;
	top: 38px;
	left: 190px;
	font-size: 24px;
	width: calc(100% - 190px);
	height: calc(100% - 38px);
	background: url("../media/logo-256.png") center center no-repeat #292929;

	textarea {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 1px;
  	height: 1px;
  	z-index: -55;
  	opacity: 0;
  }

}

#editor-entrypoint {

	#viewport-1 {
		display: block;
		width: 100%;
		height: 100%;
	}
	#viewport-2 {
		display: none;
	}
	#viewport-3 {
		display: none;
	}
	#viewport-4 {
		display: none;
	}

}

#editor-entrypoint.two-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 50%;
		height: 100%;
		border-right: 1px solid #333;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 50%;
		height: 100%;
		border-left: 1px solid #000;
	}
	#viewport-3 {
		display: none;
	}
	#viewport-4 {
		display: none;
	}

}
#editor-entrypoint.three-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 33.3333333332%;
		height: 100%;
		border-right: 1px solid #333;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 33.3333333332%;
		height: 100%;
		border-left: 1px solid #000;
		border-right: 1px solid #333;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 33.3333333332%;
		height: 100%;
		border-left: 1px solid #000;
	}
	#viewport-4 {
		display: none;
	}

}
#editor-entrypoint.four-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-right: 1px solid #333;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #000;
		border-right: 1px solid #333;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #000;
		border-right: 1px solid #333;
	}
	#viewport-4 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #000;
	}

}

#editor-entrypoint.two-row {

	#viewport-1 {
		display: block;
		width: 100%;
		height: 50%;
		border-bottom: 1px solid #000;
	}
	#viewport-2 {
		display: block;
		width: 100%;
		height: 50%;
		border-top: 1px solid #333;
	}
	#viewport-3 {
		display: none;
	}
	#viewport-4 {
		display: none;
	}

}

#editor-entrypoint.three-row {

	#viewport-1 {
		display: block;
		width: 100%;
		height: 33.333333332%;
		border-bottom: 1px solid #000;
	}
	#viewport-2 {
		display: block;
		width: 100%;
		height: 33.333333332%;
		border-bottom: 1px solid #000;
		border-top: 1px solid #333;
	}
	#viewport-3 {
		display: block;
		width: 100%;
		height: 33.333333332%;
		border-top: 1px solid #333;
	}
	#viewport-4 {
		display: none;
	}

}

#editor-entrypoint.grid {

	#viewport-1 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-left: 1px solid #333;
		border-bottom: 1px solid #000;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-top: 1px solid #333;
		border-right: 1px solid #000;
	}
	#viewport-4 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-top: 1px solid #333;
		border-left: 1px solid #333;
	}

}

.CodeMirror {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'DejaVuSansMono', monospace;
	font-weight: 400;
	text-shadow: none;
	line-height: 1.25em!important;
}

//Project module.
#module-project {

	ul {
		margin: 0;
		padding: 5px 0 0 0;
	}

	li {
		line-height: 20px;
		list-style-type: none;
		cursor: default;

		span {
			display: block;
			padding: 0 10px 0 15px;
			overflow: hidden;
  		text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	li.current {

	}

	li.current ul, li.current ul * {
	}

	li[data-type=folder] span:before {
		margin-right: 8px;
		display: inline-block;
		width: 12px;
		background: url("../media/folder.png") left bottom no-repeat;
		height: 16px;
		content: " ";
		opacity: 0.25;
	}

	li[data-type=file] span:before {
		margin-right: 8px;
		display: inline-block;
		width: 12px;
		background: url("../media/file.png") left bottom no-repeat;
		height: 16px;
		content: " ";
		opacity: 0.25;
	}


	li ul {
		margin-left: -15px;
		max-height: 0;
		overflow: hidden;
		-webkit-animation: 0.2s slideDown forwards;
		padding-top: 0;
	}

	ul.hide-sub-menu {
		max-height: 100%;

		span {
			opacity: 1;
			-webkit-animation: 0.1s fadeOut forwards!important;
		}
	}

	ul.submenu span {
		opacity: 0;
		-webkit-animation: 0.2s fadeIn forwards;
	}

	li ul li span {
		margin: 0;
		padding: 3px 0 0 20px;
	}

	li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 30px;
	}

	li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 40px;
	}

	li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 50px;
	}

	li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 60px;
	}

	li ul li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 70px;
	}

	li ul li ul li ul li ul li ul li ul li ul li span {
		margin: 0;
		padding: 3px 0 0 80px;
	}

}

.autoload {
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -99;

	* {
		visibility: hidden;
		width: 0;
		height: 0;
		position: absolute;
		z-index: -99;
	}
}

.popOut {
	-webkit-animation: popOut 0.15s forwards!important;
}

#popup-selectpane {
	width: 500px;
	height: 440px;

	#panewrapper {
		width: 420px;
		height: 360px;
		margin: 40px auto;
		position: relative;

	}

	#panewrapper.two-column {

		.viewport-1 {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(50% - 20px);
			height: 100%;
		}
		.viewport-2 {
			position: absolute;
			right: 0;
			top: 0;
			width: calc(50% - 20px);
			height: 100%;
		}

		.viewport-3 {
			display: none;
		}

		.viewport-4 {
			display: none;
		}

	}

	#panewrapper.three-column {

		.viewport-1 {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(33.33% - 20px);
			height: 100%;
		}
		.viewport-2 {
			position: absolute;
			left: 33.33%;
			top: 0;
			width: calc(33.33% - 20px);
			height: 100%;
		}

		.viewport-3 {
			position: absolute;
			left: 66.66%;
			top: 0;
			width: calc(33.33% - 20px);
			height: 100%;
		}

		.viewport-4 {
			display: none;
		}

		}

		#panewrapper.four-column {

			.viewport-1 {
				position: absolute;
				left: 0;
				top: 0;
				width: calc(25% - 20px);
				height: 100%;
			}

			.viewport-2 {
				position: absolute;
				left: 25%;
				top: 0;
				width: calc(25% - 20px);
				height: 100%;
			}

			.viewport-3 {
				position: absolute;
				left: 50%;
				top: 0;
				width: calc(25% - 20px);
				height: 100%;
			}

			.viewport-4 {
				position: absolute;
				left: 75%;
				top: 0;
				width: calc(25% - 20px);
				height: 100%;
			}

		}

		#panewrapper.two-row {

			.viewport-1 {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 45%;
			}

			.viewport-2 {
				position: absolute;
				left: 0;
				top: 55%;
				width: 100%;
				height: 45%;
			}

			.viewport-3 {
				display: none;
			}

			.viewport-4 {
				display: none;
			}

		}

		#panewrapper.three-row {

			.viewport-1 {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 28%;
			}

			.viewport-2 {
				position: absolute;
				left: 0;
				top: 36.33%;
				width: 100%;
				height: 28%;
			}

			.viewport-3 {
				position: absolute;
				left: 0;
				top: 72.66%;
				width: 100%;
				height: 28%;
			}

			.viewport-4 {
				display: none;
			}

		}

		#panewrapper.grid {

			.viewport-1 {
				position: absolute;
				left: 0;
				top: 0;
				width: calc(50% - 20px);
				height: 47.5%;
			}

			.viewport-2 {
				position: absolute;
				left: 50%;
				top: 0;
				width: calc(50% - 20px);
				height: 47.5%;
			}

			.viewport-3 {
				position: absolute;
				left: 0;
				top: 52.5%;
				width: calc(50% - 20px);
				height: 47.5%;
			}

			.viewport-4 {
				position: absolute;
				left: 50%;
				top: 52.5%;
				width: calc(50% - 20px);
				height: 47.5%;
			}

		}


}

#popup-about {
	height: 400px;
	width: 440px;

	.about-dialogue {
		width: 90%;
		height: 240px;
		margin: 20px auto 0;
		overflow-y: scroll;
		text-align: left;
		padding: 0 10px;
	}
}

#popup-plugin-window {
	height: 440px;

	.title {
		margin: 5px 0 10px;
		text-align: center;
		font-size: 16px;
	}


	ul {
		margin: 0;
		padding: 0;
		height: 290px;
		overflow-y: scroll;
		width: 95%;
		margin-left: 2.5%;
		margin-top: 20px;

		li {
			list-style-type: none;
			display: block;
			width: 100%;
			padding: 15px;
			min-height: 60px;
			text-align: left;
			font-size: 12px;
			cursor: default;
		}
		.version {
			font-size: 9px;
			font-style: italic;
			margin: 0 0 7px 0;

		}
		.description {
			font-size: 9px;
			padding-right: 90px;
		}

		.btn {
			float: right;
			display: block;
			width: 80px;
			text-transform: uppercase;
			padding: 10px;
			font-size: 9px;
			text-align: center;
			transition: 0.2s all;
			cursor: default;
		}

	}
}

.prompt {
	max-width: 450px;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 380px;
	height: 225px;
	margin: auto;
	text-align: center;
	-webkit-user-select: none;
	-webkit-animation: popIn 0.25s forwards;
	-webkit-transform: scale(0.1);

	.cancel {
		float: right;
		width: 24px;
		height: 24px;
		margin-top: 5px;
		margin-right: 5px;
	}
	.logo {
		margin: 20px auto 10px auto;
		width: 64px;
		height: 64px;
		-webkit-animation: rotate 1.5s infinite;
	}

	h4 {
		text-align: center;
		margin: 10px auto;
		font-weight: normal;
		font-size: 16px;
		width: 80%;
		display: block;
	}
	h4.find-heading {
		margin: 40px auto 20px auto;
	}

	input.find {
		display: block;
		width: 80%;
		border-style: none;
		margin: 20px auto 50px auto;
		padding: 0.75em 1em;
		font-family: Open Sans;
		font-size: 16px;
	}
	input.find:focus {
		outline: none;
	}

	.dialogue {
		text-align: center;
		width: 350px;
		margin: 0 auto 20px auto;
	}

	button {
		margin: 0 5px;
		font-size: 13px;
		text-align: center;
		padding: 0.75em 2.5em;
		border-style: none;
	}

	button:focus {
		outline: none;
	}

	.btn-accept {
		border-style: none;
	}

	.btn-decline {
		border-style: none;
	}

}

#files-entrypoint {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;

	input {
		visibility: hidden;
		opacity: 0;
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes popIn {
	0% {
		-webkit-transform: scale(0.1);
	}
	80% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes popOut {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-webkit-keyframes slideDown {
	0% {
		margin-left: -15px;
		max-height: 0;
	}
	100% {
		margin-left: 0;
		max-height: 100%;
	}
}

@-webkit-keyframes slideUp {
	0% {
		margin-left: 0;
		max-height: 100%;
	}
	100% {
		margin-left: -15px;
		max-height: 0;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@import "dialog";
@import "scrollbars";
@import "font";
