::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
	background: #1c1c1c;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #444;
}

::-webkit-scrollbar-corner { 
	display: none;
	opacity: 0;
	background: #222;
	
}