$themebodybg: #B2AFAD;
$themebodyfg: #444444;
$themeboxborder: #D0CDCC;
$themeboxfadeborder: #505455;
$themetopbarbg: #4a4b4b;
$themeeditorbg: #C6C6C6;
$tabactivebottom: #B0B0B0;
$sidebarhighlight: #aaa;

body {
	background: $themebodybg;
	color: $themebodyfg;
}

#menu {
	background: #e7e7e7;

	ul.submenu {
		background: #e7e7e7;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;

		li {
			aside {
				color: #aaa;
			}
		}
		li:hover aside {
				color: #111;
				opacity: 0.25;
		}
		li.space {
			background: #ccc;
		}
		li:hover {
			background: $sidebarhighlight;
			color: #111;
		}
	}
}


#editor-entrypoint {
	background: #D6D6D6;
}
#editor-entrypoint::after {
  content: "";
  background: url("../media/logo-256.png") center center no-repeat #D6D6D6;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#sidebar-entrypoint {
	background: #ddd;
}

#topbar-entrypoint {
	background: #ddd;
}

#tabs-entrypoint {
	background: #ddd;

	li {
		background: #cbcbcb;
		border-right: 1px solid transparent;
	}
	li.active {
		background: #eee;
		color: #000;
	}
}

#editor-entrypoint {
	background: url("../../media/logo-256.png") center center no-repeat #d6d6d6;
}

#module-project {

	ul {
		color: #111;
	}
	li.current {
		background: $sidebarhighlight;
	}

	li.current ul, li.current ul * {
		background: #ddd;
	}

	li[data-type=folder] span:before {
		background: url("../../media/folder.png") left bottom no-repeat;
		opacity: 0.25;
	}

	li[data-type=file] span:before {
		background: url("../../media/file.png") left bottom no-repeat;
		opacity: 0.25;
	}
}
.popup {
	border: 1px solid #999;
	background: #eee;

	.cancel {
		background: url("../../media/icons.png") center center no-repeat;
	}

	.logo {
		background: url("../../media/logo-64.png");
	}
	input.find {
		background: #d6d6d6;
		color: #111;
	}

	.btn-accept {
		color: #eee;
		background: #444;
		border-style: none;
	}

	.btn-decline {
		color: #000;
		background: #999;
		border-style: none;
	}

}



#popup-selectpane {

	#panewrapper {
		.viewport {
			background: #999;
			transition: 0.2s all;
		}
		.viewport:hover {
			background: #ccc;
		}
		.active, .active:hover {
			background: #bbb!important;
		}
	}

}


#popup-plugin-window {

	ul {
		background: #ccc;
		border: 1px solid #bbb;

		li {
			background: #ddd;
		}
		.version {
			color: #333;

			a {
				color: #333;
			}
			a:hover {
				color: #111;
			}
		}
		li.active {
			opacity: 1;
		}
		li.inactive {
			opacity: 0.5;
		}

		li:nth-child(even) {
			background: #eee;
		}

		.btn {
			background: #444;
			color: #eee;
		}

		li.inactive .btn:hover {
			background: #999;
			color: #000;
		}
		li.active {
			background: #fff;
		}
	}
}

.popup {

	.cancel {
		background: url("../../media/icons-inverted.png") center center no-repeat;
		opacity: 0.25;
	}
	.cancel:hover {
		opacity: 1;
	}

	.logo {
		background: url("../../media/logo-64.png");
		-webkit-animation: rotate 1.5s infinite;
	}

	button:active {
		opacity: 0.8;
	}

}

#editor-entrypoint.two-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 50%;
		height: 100%;
		border-right: 1px solid #ccc;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 50%;
		height: 100%;
		border-left: 1px solid #eee;
	}
	#viewport-3 {
		display: none;
	}
	#viewport-4 {
		display: none;
	}

}
#editor-entrypoint.three-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 33.3332%;
		height: 100%;
		border-right: 1px solid #ccc;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 33.3333333332%;
		height: 100%;
		border-left: 1px solid #eee;
		border-right: 1px solid #ccc;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 33.3333333332%;
		height: 100%;
		border-left: 1px solid #eee;
	}
	#viewport-4 {
		display: none;
	}

}
#editor-entrypoint.four-column {

	#viewport-1 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-right: 1px solid #ccc;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #eee;
		border-right: 1px solid #ccc;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #eee;
		border-right: 1px solid #ccc;
	}
	#viewport-4 {
		float: left;
		display: block;
		width: 25%;
		height: 100%;
		border-left: 1px solid #eee;
	}

}

#editor-entrypoint.two-row {

	#viewport-1 {
		display: block;
		width: 100%;
		height: 50%;
		border-bottom: 1px solid #eee;
	}
	#viewport-2 {
		display: block;
		width: 100%;
		height: 50%;
		border-top: 1px solid #ccc;
	}
	#viewport-3 {
		display: none;
	}
	#viewport-4 {
		display: none;
	}

}

#editor-entrypoint.three-row {

	#viewport-1 {
		display: block;
		width: 100%;
		height: 33.3333333332%;
		border-bottom: 1px solid #eee;
	}
	#viewport-2 {
		display: block;
		width: 100%;
		height: 33.3333333332%;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #ccc;
	}
	#viewport-3 {
		display: block;
		width: 100%;
		height: 33.3333333332%;
		border-top: 1px solid #ccc;
	}
	#viewport-4 {
		display: none;
	}

}

#editor-entrypoint.grid {

	#viewport-1 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	#viewport-2 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #eee;
	}
	#viewport-3 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-top: 1px solid #ccc;
		border-right: 1px solid #eee;
	}
	#viewport-4 {
		float: left;
		display: block;
		width: 50%;
		height: 50%;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

}

.CodeMirror-dialog {
  background: #ddd;
  color: #333;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
}


::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: #E3E3E3;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #999;
}

::-webkit-scrollbar-corner {
	display: none;
	opacity: 0;
	background: #dddddd;

}
