$themebodybg: #21252b;
$themebodyfg: #9da5b4;
$themeboxborder: #2f3233;
$themeboxfadeborder: #505455;
$themetopbarbg: #4a4b4b;
$themeeditorbg: #393939;
$tabactivebottom: #4f4f4f;
$sidebarhighlight: #2b5a76;

body {
	background: $themebodybg;
	color: $themebodyfg;
}

#viewport-1, #viewport-2, #viewport-3, #viewport-4 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
}

#sidebar-entrypoint {
	background: $themebodybg;
	font-size: 12px;
}

#topbar-entrypoint {
	background: #21252b;
	height: 45px;
}

#tabs-entrypoint {
	background: #21252b;
	
	li {
		background: #21252b;
		border-left: 2px solid #181a1f;
		border-top: 1px solid transparent;
		border-right: 1px solid transparent;
		text-align: center;
		line-height: 38px;
		height: 38px;
		font-size: 12px;
		
		.close {
			opacity: 0;
			transition: 0.2s all;
		}
		.close:hover {
			opacity: 1;
		}

	}
	li, li.active {
		min-width: 190px;
	}
	li:hover {
		.close {
			opacity: 0.25;
			transition: 0.2s all;
		}
		.close:hover {
			opacity: 1;
		}
	}
	li.active {
		background: #2b2f37;
		border-left: 2px solid #528bff;
		border-top: 1px solid #181a1f;
		border-right: 1px solid #181a1f;
		color: #eee;
		line-height: 38px;

		.close {
			background: url("../../media/icons.png") center center no-repeat;
		}
	}
	.close {
		top: 11px;
	}
}

#editor-entrypoint {
	background: url("../../media/logo-256-space.png") center center no-repeat #21252b;
	top: 43px;
	height: calc(100% - 43px);
}

#module-project {

	ul {
		color: #9da5b4;
	}
	li.current {
		background: #31363f;
		color: #fff;
	}
	li {
		line-height: 25px;
	}
	li.current ul, li.current ul * {
		background: #d9d9d9;
	}

	li[data-type=folder] span:before {
		background: url("../../media/folder.png") left bottom no-repeat;
		opacity: 1;
	}

	li[data-type=file] span:before {
		background: url("../../media/file.png") left bottom no-repeat;
		opacity: 1;
	}
	li span {
		padding: 5px 0 2px 12px;
	}
}
.popup {
	border: 1px solid #111;
	background: #393939;

	.cancel {
		background: url("../../media/icons.png") center center no-repeat;
	}

	.logo {
		background: url("../../media/logo-64.png");
	}
	input.find {
		background: #292929;
		color: #eee;
	}

	.btn-accept {
		color: #eee;
		background: $sidebarhighlight;
		border-style: none;
	}

	.btn-decline {
		color: #aaa;
		background: #333;
		border-style: none;
	}

}


#popup-selectpane {

	#panewrapper {
		.viewport {
			background: #444;
			transition: 0.2s all;
		}
		.viewport:hover {
			background: #666;
		}
		.active, .active:hover {
			background: #2a2a2a!important;
		}
	}

}


#popup-plugin-window {

	ul {
		background: #2a2a2a;
		border: 1px solid #3c3c3c;

		li {
			background: #2f2f2f;
		}
		.version {
			color: #999;

			a {
				color: #bbb;
			}
			a:hover {
				color: #fff;
			}
		}
		li.active {
			opacity: 1;
		}
		li.inactive {
			opacity: 0.5;
		}

		li:nth-child(even) {
			background: #333;
		}

		.btn {
			background: #191919;
		}

		li.inactive .btn:hover {
			background: #000;
			color: #eee;
		}
	}
}

.popup {

	.cancel {
		background: url("../../media/icons.png") center center no-repeat;
		opacity: 0.25;
	}
	.cancel:hover {
		opacity: 1;
	}

	.logo {
		background: url("../../media/logo-64.png");
		-webkit-animation: rotate 1.5s infinite;
	}

	button:active {
		opacity: 0.8;
	}

}


::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: #1f2125;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #3c424e;
}

::-webkit-scrollbar-corner {
	display: none;
	opacity: 0;
	background: transparent;

}